---
- name: Reload systemd
  become: true
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart ipfs
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    name: ipfs
    enabled: true
    state: restarted
  when: (ipfs_start | default({})) is not changed
